{% extends "base.html" %}

{% block title %}Account - {{ username }}{% endblock %}

{% block content %}
<div class="account-container">
    <h2>Welcome, {{ username }}!</h2>
    <div class="account-info">
        <p>You are logged in to your SwatWorks account.</p>
        <div class="account-actions">
            <a href="{{ url_for('gigs.create_gig') }}" class="btn btn-primary">Create New Gig</a>
            <a href="{{ url_for('messages.inbox') }}" class="btn btn-primary">View Messages</a>
        </div>
    </div>
</div>
{% endblock %} 